._18SwMlkqokBu18LUOUwE0s {
 position:relative;
 z-index:1000
}
.a8hvu6Vy_n_lyxvy3B_ec {
 position:absolute;
 top:.9rem;
 left:0;
 right:0;
 bottom:0;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 background-size:100% 100%;
 overflow:auto;
 -webkit-overflow-scrolling:touch;
 top:calc(.88rem - 1px);
 z-index:101;
 background-color:#f8f8f8
}
._3R1YHM58iiTY1sTYICrAc3 {
 top:0
}
.uxINNqGDaBAdrSqGKxJUB {
 height:1.2rem;
 background:#fff;
 -webkit-box-shadow:0 .04rem .08rem 0 rgba(0,0,0,.05);
 box-shadow:0 .04rem .08rem 0 rgba(0,0,0,.05);
 position:relative
}
.uxINNqGDaBAdrSqGKxJUB span {
 height:1.2rem;
 line-height:1.2rem;
 display:inline-block;
 vertical-align:middle;
 font-size:.28rem
}
.uxINNqGDaBAdrSqGKxJUB img {
 width:.48rem;
 height:.48rem;
 vertical-align:middle;
 margin:0 .2rem 0 .4rem
}
.uxINNqGDaBAdrSqGKxJUB ._2b9-OIOolCcoeMklJNrP5o ._32P0ywIJWEK4z3oF49pOS6 {
 color:#a5a9b3
}
.uxINNqGDaBAdrSqGKxJUB ._2b9-OIOolCcoeMklJNrP5o i {
 position:absolute;
 right:.3rem;
 top:50%;
 -webkit-transform:translateY(-50%);
 transform:translateY(-50%);
 width:.16rem;
 height:.28rem;
 background:url(https://h5static.0am08m.com/assets/v4_common/common_2/out/img/sprite.png?version=1615891975670) no-repeat 0 0;
 background-size:14.3rem .48rem
}
._3L6Cl66ASflxvsEaJ11-NB {
 height:calc(100% - 1.2rem);
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -webkit-flex-flow:column;
 -ms-flex-flow:column;
 flex-flow:column
}
._3L6Cl66ASflxvsEaJ11-NB ._2gi8WlIElVtKFrebLiNIxD {
 width:100%;
 overflow:auto;
 -webkit-overflow-scrolling:touch;
 -webkit-box-flex:0;
 -webkit-flex:0 0 auto;
 -ms-flex:0 0 auto;
 flex:0 0 auto;
 height:1rem!important
}
._3L6Cl66ASflxvsEaJ11-NB ._2gi8WlIElVtKFrebLiNIxD::-webkit-scrollbar {
 display:none
}
._3L6Cl66ASflxvsEaJ11-NB .aV9610r9Ves9JnWKeDTE_ {
 -webkit-box-flex:1;
 -webkit-flex:1;
 -ms-flex:1;
 flex:1;
 overflow:scroll;
 text-align:center;
 scroll-behavior:smooth;
 background-color:#f8f8f8
}
._3L6Cl66ASflxvsEaJ11-NB .aV9610r9Ves9JnWKeDTE_ ul {
 background-color:#fff
}
._3L6Cl66ASflxvsEaJ11-NB .aV9610r9Ves9JnWKeDTE_ ul .mgHCxrVjbQUel5QfbzPll {
 margin-top:.2rem;
 padding-top:.6rem;
 font-size:.28rem
}
._3L6Cl66ASflxvsEaJ11-NB .aV9610r9Ves9JnWKeDTE_ ul li {
 margin:.2rem 0 0
}
._3L6Cl66ASflxvsEaJ11-NB .aV9610r9Ves9JnWKeDTE_ ul img {
 width:7.2rem;
 min-height:10rem
}
._3L6Cl66ASflxvsEaJ11-NB .aV9610r9Ves9JnWKeDTE_ .Zku0t7lqOWSmswZi6wWjI li {
 margin:0
}
._3L6Cl66ASflxvsEaJ11-NB .aV9610r9Ves9JnWKeDTE_ ._3rDgVVo85HWi4qvLLN2HK4 {
 position:fixed;
 bottom:.24rem;
 right:.3rem;
 opacity:0;
 -webkit-transition:1s;
 transition:1s
}
._3L6Cl66ASflxvsEaJ11-NB .aV9610r9Ves9JnWKeDTE_ ._3rDgVVo85HWi4qvLLN2HK4 ._5VxJD7nuBs-okrCAsAZAP {
 width:.88rem;
 height:.88rem
}
._3L6Cl66ASflxvsEaJ11-NB .aV9610r9Ves9JnWKeDTE_ .ObQMScjx_qpIDRgZ0Kyai {
 opacity:1
}
._3L6Cl66ASflxvsEaJ11-NB .aV9610r9Ves9JnWKeDTE_ ._2Su0Q2CcjX2zFgo4j4sjgG {
 z-index:9;
 position:fixed;
 bottom:.4rem;
 width:.4rem;
 height:.4rem;
 left:50%;
 margin-left:-.2rem;
 -webkit-animation:_15AoFnlVuE6-GxML56PEfC 1s infinite;
 animation:_15AoFnlVuE6-GxML56PEfC 1s infinite;
 background-image:url(https://h5static.0am08m.com/assets/v4_tutorial/common/icon-down.png?version=1615891975670);
 background-repeat:no-repeat;
 background-size:contain
}
.webpa ._3L6Cl66ASflxvsEaJ11-NB .aV9610r9Ves9JnWKeDTE_ ._2Su0Q2CcjX2zFgo4j4sjgG {
 background-image:url(https://h5static.0am08m.com/assets/v4_tutorial/common/icon-down.png.webp?version=1615891975670)
}
@-webkit-keyframes _15AoFnlVuE6-GxML56PEfC {
 0% {
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
 50% {
  -webkit-transform:translateY(-.16rem);
  transform:translateY(-.16rem)
 }
 to {
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
}
@keyframes _15AoFnlVuE6-GxML56PEfC {
 0% {
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
 50% {
  -webkit-transform:translateY(-.16rem);
  transform:translateY(-.16rem)
 }
 to {
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
}
._3L6Cl66ASflxvsEaJ11-NB ._38IJCdnenPJIBo0g1seZft {
 overflow-x:auto
}
._3L6Cl66ASflxvsEaJ11-NB .Zku0t7lqOWSmswZi6wWjI {
 height:1rem;
 background-color:#fff;
 white-space:nowrap;
 -webkit-transition:all 1s;
 transition:all 1s;
 width:10rem
}
._3L6Cl66ASflxvsEaJ11-NB .Zku0t7lqOWSmswZi6wWjI li {
 float:left;
 text-align:center;
 height:1rem;
 min-width:1.6rem;
 line-height:1rem;
 border-bottom:2px solid #fafafc;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 position:relative;
 padding:0 .2rem
}
._3L6Cl66ASflxvsEaJ11-NB .Zku0t7lqOWSmswZi6wWjI li a {
 font-size:.32rem;
 color:#a5a9b3
}
._3L6Cl66ASflxvsEaJ11-NB .Zku0t7lqOWSmswZi6wWjI li._2uOvjHaFvyDZT1ZY7Zd9Fn a {
 color:#414655
}
._3L6Cl66ASflxvsEaJ11-NB .Zku0t7lqOWSmswZi6wWjI li._2uOvjHaFvyDZT1ZY7Zd9Fn:after {
 display:block;
 content:"";
 height:.64px;
 height:.04rem;
 background-color:#d2b79c;
 width:80%;
 position:absolute;
 bottom:0;
 left:10%
}
