._3pJhTumzO7sPROBGrDo5cm {
 position:fixed;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background-color:rgba(0,0,0,.4);
 z-index:990;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-animation:_2dxpj3p4t46rl8tT1lR35H 1s;
 animation:_2dxpj3p4t46rl8tT1lR35H 1s
}
._3pJhTumzO7sPROBGrDo5cm,
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 {
 width:5.9rem;
 height:6.52rem;
 position:relative;
 border-radius:.2rem;
 -webkit-box-shadow:0 0 .2rem 0 rgba(0,0,0,.27);
 box-shadow:0 0 .2rem 0 rgba(0,0,0,.27);
 margin-top:2.4rem;
 -webkit-animation:_36dRvSh6h9IVRFYktWktQi 1s;
 animation:_36dRvSh6h9IVRFYktWktQi 1s
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj {
 width:100%;
 height:4.76rem;
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/bg_bottom.png?version=1615891975670);
 background-repeat:no-repeat;
 background-position:50%;
 background-size:cover;
 position:absolute;
 left:0;
 bottom:0;
 z-index:3;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 padding:1.12rem .4rem 0
}
.webpa ._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj {
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/bg_bottom.png.webp?version=1615891975670)
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._2D1FjnqRIJlA3LQNPwoMVv {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._2D1FjnqRIJlA3LQNPwoMVv h2 {
 font-size:.28rem;
 font-weight:600;
 color:#b1987f;
 padding:0 .24rem
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._2D1FjnqRIJlA3LQNPwoMVv span {
 -webkit-box-flex:1;
 -webkit-flex:1;
 -ms-flex:1;
 flex:1;
 height:.04rem;
 opacity:.7;
 background-image:-webkit-gradient(linear,left top,right top,from(rgba(177,152,127,0)),to(#b1987f));
 background-image:-webkit-linear-gradient(left,rgba(177,152,127,0),#b1987f);
 background-image:linear-gradient(90deg,rgba(177,152,127,0),#b1987f)
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._2D1FjnqRIJlA3LQNPwoMVv span:last-child {
 background-image:-webkit-gradient(linear,right top,left top,from(rgba(177,152,127,0)),to(#b1987f));
 background-image:-webkit-linear-gradient(right,rgba(177,152,127,0),#b1987f);
 background-image:linear-gradient(270deg,rgba(177,152,127,0),#b1987f)
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._15HEF3DzdtKsIpLHIy8M50 {
 margin:.2rem 0 .4rem;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:justify;
 -webkit-justify-content:space-between;
 -ms-flex-pack:justify;
 justify-content:space-between
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._15HEF3DzdtKsIpLHIy8M50 ._3JonkzlYYZYicd02XVG7m3 {
 width:.66rem;
 text-align:center
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._15HEF3DzdtKsIpLHIy8M50 ._3JonkzlYYZYicd02XVG7m3 ._2HHc1Rpkc11qscPzDUFS9F {
 width:.66rem;
 height:.66rem;
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/out/img/sprite.png?version=1615891975670);
 background-repeat:no-repeat;
 background-size:5.1rem .9rem
}
.webpa ._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._15HEF3DzdtKsIpLHIy8M50 ._3JonkzlYYZYicd02XVG7m3 ._2HHc1Rpkc11qscPzDUFS9F {
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/out/img/sprite.png.webp?version=1615891975670)
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._15HEF3DzdtKsIpLHIy8M50 ._3JonkzlYYZYicd02XVG7m3 ._1TNBJyAOExLnRs08s-vgsT {
 background-position:0 0
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._15HEF3DzdtKsIpLHIy8M50 ._3JonkzlYYZYicd02XVG7m3 ._14gZpd6CURJgotyxr1l9EM {
 background-position:-.7rem 0
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._15HEF3DzdtKsIpLHIy8M50 ._3JonkzlYYZYicd02XVG7m3 ._2NmORJwtCzJkyT5shK9YNI {
 background-position:-1.4rem 0
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._15HEF3DzdtKsIpLHIy8M50 ._3JonkzlYYZYicd02XVG7m3 ._1bn2QmGs9T1xmikpsQT4nt {
 background-position:-2.1rem 0
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._15HEF3DzdtKsIpLHIy8M50 ._3JonkzlYYZYicd02XVG7m3 ._3iNZ1po5daG1NDlj7jqcqm {
 background-position:-2.8rem 0
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._15HEF3DzdtKsIpLHIy8M50 ._3JonkzlYYZYicd02XVG7m3 .Ro8k7HWqN5qC-7WMN6PCO {
 background-position:-3.5rem 0
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj ._15HEF3DzdtKsIpLHIy8M50 ._3JonkzlYYZYicd02XVG7m3 span {
 width:.4rem;
 display:inline-block;
 font-size:.2rem;
 color:#fff;
 opacity:.8;
 line-height:1.2;
 margin-top:.1rem
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj .tjCgvbu9RY3Q8qGl8p2gp {
 position:relative;
 overflow:hidden;
 border-radius:.45rem
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj .tjCgvbu9RY3Q8qGl8p2gp button {
 border:0;
 outline:0;
 width:100%;
 height:.9rem;
 border-radius:.45rem;
 background-color:#fff;
 color:#b1987f;
 font-weight:600;
 font-size:.32rem
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._1DnQcBGXm-Fxz-oCDgHNqj .tjCgvbu9RY3Q8qGl8p2gp .A2zi7f7c3BVL6gfieSydj {
 cursor:pointer;
 position:absolute;
 left:-10%;
 top:0;
 width:30px;
 height:100%;
 background-color:rgba(247,240,215,.2);
 -webkit-transform:skewx(-25deg);
 transform:skewx(-25deg);
 -webkit-animation:_2X8wBpPBYsaZzJMtI6_8Xn 1s 2s both;
 animation:_2X8wBpPBYsaZzJMtI6_8Xn 1s 2s both
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L {
 width:5rem;
 height:5.04rem;
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/bg_top.png?version=1615891975670);
 background-repeat:no-repeat;
 background-position:50%;
 background-size:100% 100%;
 position:absolute;
 bottom:3.7rem;
 margin-left:-2.5rem;
 left:50%;
 z-index:2;
 padding-top:.28rem;
 overflow:hidden
}
.webpa ._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L {
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/bg_top.png.webp?version=1615891975670)
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z {
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 padding-left:.6rem;
 padding-bottom:.5rem
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z ._38W2aUR04Gh7VNuwunzJCI h3 {
 font-weight:400;
 font-size:.32rem;
 color:#414655
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z ._38W2aUR04Gh7VNuwunzJCI h1,
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z ._38W2aUR04Gh7VNuwunzJCI h1 span {
 font-family:dinproBold;
 font-size:.72rem;
 font-weight:600;
 color:#414655
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z ._38W2aUR04Gh7VNuwunzJCI h1 ._2dxpj3p4t46rl8tT1lR35H {
 -webkit-animation:_2dxpj3p4t46rl8tT1lR35H 1.5s;
 animation:_2dxpj3p4t46rl8tT1lR35H 1.5s
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z ._22T-meS6gFZE6VzgsjNEoF {
 width:1.86rem;
 height:2.14rem;
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/viplevelBg.png?version=1615891975670);
 background-repeat:no-repeat;
 background-size:cover;
 background-position:50%;
 margin-left:.3rem;
 position:relative;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center
}
.webpa ._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z ._22T-meS6gFZE6VzgsjNEoF {
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/viplevelBg.png.webp?version=1615891975670)
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z ._22T-meS6gFZE6VzgsjNEoF ._1sVhfAt7H4cvUT_R9EMUBr {
 position:absolute;
 left:50%;
 -webkit-transform:translate3d(-50%,0,0);
 transform:translate3d(-50%,0,0);
 bottom:.4rem;
 text-align:center
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z ._22T-meS6gFZE6VzgsjNEoF ._1sVhfAt7H4cvUT_R9EMUBr h4 {
 font-size:.2rem;
 font-weight:500;
 color:#a1704c;
 position:relative;
 top:.12rem
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z ._22T-meS6gFZE6VzgsjNEoF ._1sVhfAt7H4cvUT_R9EMUBr h3 {
 font-family:dinproBold;
 font-size:.52rem;
 color:#663715
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z ._22T-meS6gFZE6VzgsjNEoF ._1sVhfAt7H4cvUT_R9EMUBr ._2fPmaUELL50dlDCrqM3tzs {
 position:absolute;
 -webkit-animation:_3hROQhzx6wyD_qcSWUnWFu .5s both;
 animation:_3hROQhzx6wyD_qcSWUnWFu .5s both
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2YLCOkdia3IijvDzK8lB7z ._22T-meS6gFZE6VzgsjNEoF ._1sVhfAt7H4cvUT_R9EMUBr .TYfaC_ZUWfYHHUO3xSzqR {
 -webkit-animation:_1vCe6_VsBeXuBlUcN2eAIg .5s;
 animation:_1vCe6_VsBeXuBlUcN2eAIg .5s
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L .Xc_B2veaw5aWKIXLm6xDQ {
 width:3.82rem;
 height:1px;
 opacity:.2;
 background-color:#464c5e;
 margin:0 auto
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2tjCgBdf5MLbihSKQUVO-T {
 padding-top:.24rem;
 display:-webkit-box;
 display:-webkit-flex;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -webkit-align-items:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -webkit-justify-content:center;
 -ms-flex-pack:center;
 justify-content:center;
 -webkit-animation:_2dxpj3p4t46rl8tT1lR35H 1.5s 1.5s both;
 animation:_2dxpj3p4t46rl8tT1lR35H 1.5s 1.5s both
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2tjCgBdf5MLbihSKQUVO-T .dbtkqrLMUbXagJSGyq6Y- {
 width:.9rem;
 height:.9rem;
 margin-right:.2rem;
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/out/img/sprite.png?version=1615891975670);
 background-repeat:no-repeat;
 background-size:5.1rem .9rem;
 background-position:-4.2rem 0
}
.webpa ._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2tjCgBdf5MLbihSKQUVO-T .dbtkqrLMUbXagJSGyq6Y- {
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/out/img/sprite.png.webp?version=1615891975670)
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2tjCgBdf5MLbihSKQUVO-T .aVvNtzdXrQL_iOaRSCFw h3 {
 font-size:.32rem;
 font-weight:600;
 color:#464c5e
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2tjCgBdf5MLbihSKQUVO-T .aVvNtzdXrQL_iOaRSCFw h3 span {
 font-family:dinproBold;
 font-size:20px;
 font-weight:600
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L ._2tjCgBdf5MLbihSKQUVO-T .aVvNtzdXrQL_iOaRSCFw h6 {
 margin-top:.04rem;
 font-size:.2rem;
 font-weight:400;
 color:#9ea7c4
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._2cHX1uW12AkQ6fTDpRVS1L .A2zi7f7c3BVL6gfieSydj {
 cursor:pointer;
 position:absolute;
 left:-40%;
 top:0;
 width:30px;
 height:100%;
 background-color:rgba(247,240,215,.2);
 -webkit-transform:skewx(-25deg);
 transform:skewx(-25deg);
 -webkit-animation:TLh-FMBjqbTbpEa2ynZM8 1s 2s both;
 animation:TLh-FMBjqbTbpEa2ynZM8 1s 2s both
}
._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._3TbdiAG_Eb0OvNIXK_G6UL {
 left:0;
 width:100%;
 height:100%;
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/bg_middle.png?version=1615891975670);
 background-repeat:no-repeat;
 background-position:50%;
 background-size:cover;
 position:absolute;
 bottom:0;
 z-index:1
}
.webpa ._3pJhTumzO7sPROBGrDo5cm ._33H8JWbjIBxJogAtlCAgB8 ._3TbdiAG_Eb0OvNIXK_G6UL {
 background-image:url(https://h5static.0am08m.com/assets/v4_vip/upgrade/bg_middle.png.webp?version=1615891975670)
}
@-webkit-keyframes _2dxpj3p4t46rl8tT1lR35H {
 0% {
  opacity:0
 }
 to {
  opacity:1
 }
}
@keyframes _2dxpj3p4t46rl8tT1lR35H {
 0% {
  opacity:0
 }
 to {
  opacity:1
 }
}
@-webkit-keyframes _36dRvSh6h9IVRFYktWktQi {
 0%,
 60%,
 75%,
 90%,
 to {
  -webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
  animation-timing-function:cubic-bezier(.215,.61,.355,1)
 }
 0% {
  opacity:0;
  -webkit-transform:translate3d(0,3000px,0);
  transform:translate3d(0,3000px,0)
 }
 60% {
  opacity:1;
  -webkit-transform:translate3d(0,-20px,0);
  transform:translate3d(0,-20px,0)
 }
 75% {
  -webkit-transform:translate3d(0,10px,0);
  transform:translate3d(0,10px,0)
 }
 90% {
  -webkit-transform:translate3d(0,-5px,0);
  transform:translate3d(0,-5px,0)
 }
 to {
  -webkit-transform:translateZ(0);
  transform:translateZ(0)
 }
}
@keyframes _36dRvSh6h9IVRFYktWktQi {
 0%,
 60%,
 75%,
 90%,
 to {
  -webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);
  animation-timing-function:cubic-bezier(.215,.61,.355,1)
 }
 0% {
  opacity:0;
  -webkit-transform:translate3d(0,3000px,0);
  transform:translate3d(0,3000px,0)
 }
 60% {
  opacity:1;
  -webkit-transform:translate3d(0,-20px,0);
  transform:translate3d(0,-20px,0)
 }
 75% {
  -webkit-transform:translate3d(0,10px,0);
  transform:translate3d(0,10px,0)
 }
 90% {
  -webkit-transform:translate3d(0,-5px,0);
  transform:translate3d(0,-5px,0)
 }
 to {
  -webkit-transform:translateZ(0);
  transform:translateZ(0)
 }
}
@-webkit-keyframes _3hROQhzx6wyD_qcSWUnWFu {
 0% {
  opacity:1;
  bottom:0
 }
 to {
  opacity:0;
  bottom:-.2rem
 }
}
@keyframes _3hROQhzx6wyD_qcSWUnWFu {
 0% {
  opacity:1;
  bottom:0
 }
 to {
  opacity:0;
  bottom:-.2rem
 }
}
@-webkit-keyframes _1vCe6_VsBeXuBlUcN2eAIg {
 0% {
  -webkit-transform:translate3d(0,20%,0);
  transform:translate3d(0,20%,0)
 }
 to {
  -webkit-transform:translateZ(0);
  transform:translateZ(0)
 }
}
@keyframes _1vCe6_VsBeXuBlUcN2eAIg {
 0% {
  -webkit-transform:translate3d(0,20%,0);
  transform:translate3d(0,20%,0)
 }
 to {
  -webkit-transform:translateZ(0);
  transform:translateZ(0)
 }
}
@-webkit-keyframes TLh-FMBjqbTbpEa2ynZM8 {
 0% {
  left:-40%
 }
 to {
  left:120%
 }
}
@keyframes TLh-FMBjqbTbpEa2ynZM8 {
 0% {
  left:-40%
 }
 to {
  left:120%
 }
}
@-webkit-keyframes _2X8wBpPBYsaZzJMtI6_8Xn {
 0% {
  left:-10%
 }
 to {
  left:120%
 }
}
@keyframes _2X8wBpPBYsaZzJMtI6_8Xn {
 0% {
  left:-10%
 }
 to {
  left:120%
 }
}
